
/* styles for flipping cards. Mostly from ww3 schools */

/* memoryCard is the top level, has flipping styles as well as visible styles */
.memoryCard {
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  /* justify-content: center;
  align-content: center;
  border-radius: 15px; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  /* width: 300px;
  height: 200px; */

}

/* add class flipMe to make the card flip */

.flipMe {
  transform: rotateY(180deg);
} 

/* for reference
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */


.flippableInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

.cardFrontBox {
  /* display: flex;
  justify-content: center;
  align-content: center; */
}
.cardImageBox {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Position the front and back side */
.cardFront, .cardBack {
  position:absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* front style  */

.cardFront {
  background-color: white;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Style the back side */
.cardBack {
  background-color: dodgerblue;
  color: white;
  border-radius: 15px;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-content: center;
}

/* logo is placed on back of card */
.cardBackLogo {
  animation: logo-spin infinite 5s linear;
  height: 60%;
  pointer-events: none;
  position:absolute;
  top: 18%;
}

.memoryCard:hover {
  animation-timing-function: linear;
  animation-name: growBox;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}



.cardFront img {
  padding: 0.5rem;
  width:90%;
  height:100%;
  border-radius: 15px;
}

/* memory card index used as debug aide, does not appear in production */

.memoryCardIndex {
  color: black;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

/* animation */

@keyframes growBox {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.005); }
  40% {
    transform: scale(1.015); }
  60% {
    transform: scale(1.02); }
  80% {
    transform: scale(1.025); }
  100% {
    transform: scale(1.02); }
  }